.midContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

form {
  position: relative;
  width: 80%; 
  max-width: 600px;
  margin: 105px auto 50px auto;
  background: #fff;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 8px;
  outline: none;
  font-size: 1rem;
  margin-bottom: 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

form textarea {
  resize: none;
}

form button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 18px;
  bottom: -18px;
  background: rgb(255, 200, 18);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgb(165, 165, 165);
  cursor: pointer;
  outline: none;
}

@media (max-width: 768px) {
  .midContainer {
    text-align: center;
  }

  form {
    width: 40%; 
    margin: 90px auto 30px auto;
  }

  form button {
    right: 5%;
    transform: translateX(0%);
    bottom: -24px;
  }
}

.notesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 45%; 
}

.notesContainer::after {
  content: "";
  flex: auto;
}

.note {
  background: #ffffff;
  width: calc(100% - 20px);
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.note h1 {
  font-size: 1rem;
  margin-bottom: 6px;
}

.note p {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  color: rgb(255, 198, 9);
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

@media (min-width: 768px) {
  .note {
    margin-right: 0;
    width: calc(50% - 20px);
  }

  .note:nth-child(odd) {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .note {
    width: calc(33.33% - 20px);
  }
}
