.note {
  background: #ffffff;
  width: calc(33.33% - 20px);
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(175, 175, 175);
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}

.note h1 {
  font-size: 1rem;
  margin-bottom: 6px;
}

.note p {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  color: rgb(255, 198, 9);
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

@media (min-width: 768px) {
  .note {
    margin-right: 0;
  }

  .note:nth-child(3n) {
    margin-right: 0;
  }
}
