.note {
    background: #ffffff;
    width: 240px;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgb(175, 175, 175);
    padding: 10px;
    margin: auto; 
  margin-top: 50vh; 
  transform: translateY(-50%);
    float: left;
    margin-right: 40px;
  }
  
  .note h1 {
    font-size: 1rem;
    color: #252525;
    margin-bottom: 6px;
  }
  
  .note p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .note button {
    position: relative;
    float: right;
    color: rgb(255, 200, 18);
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }
  