.container {
    position: fixed;
    top: 78px;
    left: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #606060;
  }
  
  .listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .listItem:hover {
    background-color: #f2f2f2;
  }
  
  .icon {
    font-size: 1.8rem;
    margin-bottom: 5px;
    color: #606060;
  }
  
  .listItemText {
    font-size: 0.8rem;
  }
  
  
  .sublist {
    margin-top: 15px;
    padding-left: 10px;
  }
  
  .sublist .listItem {
    margin-top: 8px;
    margin-left: 0;
    font-weight: normal;
  }
  